In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vS7-ExDX7zYC5CxfFplHAwTSQUdGCgAfFDhLyBuz3OPxGacrdzhgfhOKPbLb2WwIf-YV8xUP66EB03B/pub?gid=1991064989&single=true&output=csv')

In [3]:
df1.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [156]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQNMuywEZLrkFw8wmNL38_hRdsMbsFF83A_w_kXwOvrDoNJ-S2ATdPld8tg41F4vSZs4I7dv3YUZNW8/pub?gid=986987377&single=true&output=csv')

In [157]:
df.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [158]:
team_names = pd.concat((df['Team1'],df['Team2'])).unique().tolist()
team_names

['Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad',
 'Delhi Capitals',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Lucknow Super Giants',
 'Kolkata Knight Riders',
 'Punjab Kings',
 'Mumbai Indians',
 'Kings XI Punjab',
 'Delhi Daredevils',
 'Rising Pune Supergiant',
 'Gujarat Lions',
 'Rising Pune Supergiants',
 'Pune Warriors',
 'Deccan Chargers',
 'Kochi Tuskers Kerala']

In [159]:
dict={}
for i, team in enumerate(team_names):
    dict[i] = team
team_dict = {
    'teams': dict
}

In [160]:
team_names

['Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad',
 'Delhi Capitals',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Lucknow Super Giants',
 'Kolkata Knight Riders',
 'Punjab Kings',
 'Mumbai Indians',
 'Kings XI Punjab',
 'Delhi Daredevils',
 'Rising Pune Supergiant',
 'Gujarat Lions',
 'Rising Pune Supergiants',
 'Pune Warriors',
 'Deccan Chargers',
 'Kochi Tuskers Kerala']

In [161]:
df.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [162]:
def teamvteam(team1, team2):

    temp_df = df[(df['Team1']==team1) & (df['Team2']==team2) | (df['Team1']==team2) & (df['Team2']==team1)]
    total_matches = temp_df.shape[0]
    w1 = temp_df['WinningTeam'].value_counts()[team1]
    w2 = temp_df['WinningTeam'].value_counts()[team2]
    
    dict1 = {
        
        'Total_matches': total_matches,
        team1: w1,
        team2: w2,
        'Draw': total_matches - (w1 + w2)
    }
    dict1 = {'teamvteam': dict1}
    return dict1

In [163]:
teamvteam('Royal Challengers Bangalore', 'Chennai Super Kings')

{'teamvteam': {'Total_matches': 29,
  'Royal Challengers Bangalore': 10,
  'Chennai Super Kings': 19,
  'Draw': 0}}

In [164]:
team1 = 'Chennai Super Kings'
team2 = 'Royal Challengers Bangalore'

temp_df = df[(df['Team1']==team1) & (df['Team2']==team2) | (df['Team1']==team2) & (df['Team2']==team1)]

In [165]:
temp_df['WinningTeam'].value_counts()[team1]

19

In [166]:
total_namtches = temp_df.shape[0]

In [167]:
total_namtches

29

In [190]:
temp_df.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
5,1304115,Mumbai,2022-05-21,2022,69,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,JJ Bumrah,"['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...","['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...",Nitin Menon,Tapan Sharma
9,1304111,Mumbai,2022-05-17,2022,65,Sunrisers Hyderabad,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Sunrisers Hyderabad,Runs,3.0,NaN,RA Tripathi,"['Abhishek Sharma', 'PK Garg', 'RA Tripathi', ...","['RG Sharma', 'Ishan Kishan', 'DR Sams', 'Tila...",CB Gaffaney,N Pandit

In [213]:
team = 'Mumbai Indians'

In [214]:
total_match_played = temp_df.shape[0]

In [215]:
won = temp_df['WinningTeam'].value_counts()[team]

In [216]:
loss = temp_df['WinningTeam'].value_counts().sum() - won

In [217]:
no_result = total_match_played - (won + loss)

In [221]:
temp_df.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
5,1304115,Mumbai,2022-05-21,2022,69,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,JJ Bumrah,"['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...","['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...",Nitin Menon,Tapan Sharma
9,1304111,Mumbai,2022-05-17,2022,65,Sunrisers Hyderabad,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Sunrisers Hyderabad,Runs,3.0,NaN,RA Tripathi,"['Abhishek Sharma', 'PK Garg', 'RA Tripathi', ...","['RG Sharma', 'Ishan Kishan', 'DR Sams', 'Tila...",CB Gaffaney,N Pandit

In [244]:
team_names = pd.concat((df['Team1'],df['Team2'])).unique().tolist()
team_names.remove(team)
team_names

['Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad',
 'Delhi Capitals',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Lucknow Super Giants',
 'Kolkata Knight Riders',
 'Punjab Kings',
 'Kings XI Punjab',
 'Delhi Daredevils',
 'Rising Pune Supergiant',
 'Gujarat Lions',
 'Rising Pune Supergiants',
 'Pune Warriors',
 'Deccan Chargers',
 'Kochi Tuskers Kerala']

In [376]:
def team_record(team):
    
    temp_df = df[(df['Team1'] == team) | (df['Team2'] == team)]
    total_match_played = temp_df.shape[0]
    won = temp_df['WinningTeam'].value_counts()[team]
    loss = temp_df['WinningTeam'].value_counts().sum() - won
    no_result = total_match_played - (won + loss)
    dict1 = {
        'MatchesPlayed': str(total_match_played),
        'Won': str(won),
        'Loss': str(loss),
        'NoResult': str(no_result)
    }

    team_names = pd.concat((df['Team1'], df['Team2'])).unique().tolist()
    team_names.remove(team)
    
    dict2 = {}
    for i in team_names:
        temp_df1 = temp_df[(temp_df['Team1'] == i) | (temp_df['Team2'] == i)]
        matches_played = temp_df1.shape[0]
        try:
            won1 = temp_df1['WinningTeam'].value_counts()[team1]
        except:
            won1 = 0
        if i in temp_df1['WinningTeam'].value_counts():
            loss1 = temp_df1['WinningTeam'].value_counts()[i]
        else:
            loss1 = 0
        no_result1 = matches_played - (won1 + loss1)
        dict2[i] = {
            'MatchesPlayed': str(matches_played),
            'Won': str(won1),
            'Loss1': str(loss1),
            'NoResult': str(no_result1)
        }
    dict3 = {'Overall': dict1, 'Against': dict2}
    return dict3

In [377]:
team_record('Mumbai Indians')

{'Overall': {'MatchesPlayed': '231',
  'Won': '131',
  'Loss': '100',
  'NoResult': '0'},
 'Against': {'Rajasthan Royals': {'MatchesPlayed': '26',
   'Won': '14',
   'Loss1': '12',
   'NoResult': '0'},
  'Royal Challengers Bangalore': {'MatchesPlayed': '30',
   'Won': '17',
   'Loss1': '13',
   'NoResult': '0'},
  'Sunrisers Hyderabad': {'MatchesPlayed': '19',
   'Won': '10',
   'Loss1': '9',
   'NoResult': '0'},
  'Delhi Capitals': {'MatchesPlayed': '10',
   'Won': '6',
   'Loss1': '4',
   'NoResult': '0'},
  'Chennai Super Kings': {'MatchesPlayed': '34',
   'Won': '20',
   'Loss1': '14',
   'NoResult': '0'},
  'Gujarat Titans': {'MatchesPlayed': '1',
   'Won': '1',
   'Loss1': '0',
   'NoResult': '0'},
  'Lucknow Super Giants': {'MatchesPlayed': '2',
   'Won': '0',
   'Loss1': '2',
   'NoResult': '0'},
  'Kolkata Knight Riders': {'MatchesPlayed': '31',
   'Won': '22',
   'Loss1': '9',
   'NoResult': '0'},
  'Punjab Kings': {'MatchesPlayed': '3',
   'Won': '1',
   'Loss1': '2',
   'NoResult': '0'},
  'Kings XI Punjab': {'MatchesPlayed': '26',
   'Won': '14',
   'Loss1': '12',
   'NoResult': '0'},
  'Delhi Daredevils': {'MatchesPlayed': '22',
   'Won': '11',
   'Loss1': '11',
   'NoResult': '0'},
  'Rising Pune Supergiant': {'MatchesPlayed': '4',
   'Won': '1',
   'Loss1': '3',
   'NoResult': '0'},
  'Gujarat Lions': {'MatchesPlayed': '4',
   'Won': '2',
   'Loss1': '2',
   'NoResult': '0'},
  'Rising Pune Supergiants': {'MatchesPlayed': '2',
   'Won': '1',
   'Loss1': '1',
   'NoResult': '0'},
  'Pune Warriors': {'MatchesPlayed': '6',
   'Won': '5',
   'Loss1': '1',
   'NoResult': '0'},
  'Deccan Chargers': {'MatchesPlayed': '10',
   'Won': '6',
   'Loss1': '4',
   'NoResult': '0'},
  'Kochi Tuskers Kerala': {'MatchesPlayed': '1',
   'Won': '0',
   'Loss1': '1',
   'NoResult': '0'}}}

In [90]:
import requests

In [151]:
response = requests.get('http://127.0.0.1:5000/api/teamvteam?team1=Rajasthan Royals&team2=Royal Challengers Bangalore').json()

In [152]:
requests.get('http://127.0.0.1:5000/api/teamvteam?team1=Rajasthan Royals&team2=Royal Challengers1 Bangalore')

In [153]:
try:
    a = response['teamvteam']
except:
    print('Ishu bhaiya')

In [154]:
a

{'Draw': '2',
 'Rajasthan Royals': '12',
 'Royal Challengers Bangalore': '13',
 'Total_matches': '27'}

In [136]:
df3 = pd.DataFrame([list(a.values())], columns=list(a))

In [137]:
df3

  Draw Rajasthan Royals Royal Challengers Bangalore Total_matches
0    2               12                          13            27

In [378]:
intro_page = """
    Introduction Page made by Ishwar Gupta\n
    All my API's :- 
    1- /api/team-names
    2- /api/teamvteam?team1='<team1name>'&team2=<team2name>
    3- /api/team-record?team=<any_team_name>
"""

print(intro_page)

    Introduction Page made by Ishwar Gupta

    All my API's :-
    1- /api/team-names
    2- /api/teamvteam?team1='<team1name>'&team2=<team2name>
    3- /api/team-record?team=<any_team_name>

In [379]:
response1 = requests.get('http://127.0.0.1:5000/').json()

In [390]:
i = 'Royal Challengers Bangalore'
response2 = requests.get(f'http://127.0.0.1:5000/api/team-record?team={i}').json()

In [404]:
metrics = response2.get('Team-Record', {}).get('Overall', {})

# Display the metrics horizontally
for metric_name, value in metrics.items():
    st.metric(metric_name, value, "type")

NameError: name 'st' is not defined

In [401]:
overall = response2['Team-Record']['Overall']

In [403]:
len(overall)

4